@font-face {
    font-family: roboto;
    src: url(./Roboto-Regular.ttf);
  }
  *{
      width: 100%;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: roboto;
  }
  body{
      display: block;
      background-color: #744D43;
  }
  /* ----------------navbar------------ */
  #header{
      background-color: #744D43;
      width: 100%;
      height: 70px;
      display: flex;
      /* display: inline-block; */
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      z-index: 999;
      top: 0;
      left: 0;
      padding: 4px 20px;
  }
  #header a{
    color: white;
  }
  #header > a{
    width: 50%;
    font-size: 40px;
    text-decoration: none;
  }
  #header i{
    color: white;
  }
  .menu-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
  }
  .menu-list li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: 170px;
  }
  .menu-list li a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 0;
  }
  .menu-list li:nth-last-child(-n+2){
    width: 50px;
  }
  .menu-list li a:hover,
  .menu-list li a.active {
    border-bottom: 2px solid white;
  }
  #xmark{
    display: none;
  }
  #cart{
    position: relative;
    padding: 0;
  }
  #cart-amount{
    position: absolute;
    background-color: red;
    color: white;
    width: 10px;
    height: 23px;
    line-height: 23px;
    padding: 0 2px;
    border-radius: 25px;
    top: -5px;
    right: 0;
  }
  .mobile .cart-amount {
    position: absolute;
    background-color: red;
    color: white;
    width: 10px;
    height: 18px;
    line-height: 18px;
    /* padding: 0 2px; */
    border-radius: 25px;
    top: 7px;
    padding: 0 0.05em;
    right: 100px;
  }
  .mobile{
    height: 50px;
  }
  /* -----------------section-body---------------- */
  .favorite{
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }
  .favorite p:first-child{
    font-size: 40px;
    color: white;
  }
  .favorite p:last-child{
    font-size: 20px;
    padding-top: 5px;
    color: white;
  }
  .list-fav{
    height: 1000px;
  }
  .new-product{
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }
  .new-product p:first-child{
    font-size: 40px;
    color: white;
  }
  .new-product p:nth-child(2){
    font-size: 20px;
    padding-top: 5px;
    color: white;
  }
  .new-product button{
    width: 10%;
    height: 40px;
    font-size: 18px;
    background-color: white;
    text-align: center;
    margin-top: 5px;
  }
  .new-product a{
    text-decoration: none;
    color: black;
  }
  /* --------------section-banner---------------- */
  .banner{
    width: 100%;
    height: 800px;
  }
  .banner img{
    width: 100%;
    height: 800px;
  }
  .advantage{
    padding: 30px 5px;
  }
  .advantage img{
    filter: brightness(0) invert(1);
   -webkit-filter: brightness(0) invert(1);
  }
  hr{
    width: 50%;
    position: absolute;
    left: 25%;
  }
  /* -------------footer----------------- */
  .footer{
    margin-top: 10px;
  }
  .footer .row{
    display: flex;
  }
  .row .col{
     width: fit-content;
     flex-direction: row;
     justify-content: left;
  }
  .addr,
  .contact,
  .instrucment {
    margin-right: 1em;
    color: white;
  }
  
  .footer .border-bottom{
    background-color: white;
    height: 1px;
    margin-top: 1rem; 
  
  }
  .footer img, .footer i, footer a, .footer ul{
    width: fit-content;
  }
  
  .footer-copyright {
    display: flex;
  }
  .footer ul li{
      list-style-type: none;
  }
  .copyright p{
    width: fit-content;
  }
  .copyright{
    width: fit-content;
    display: inline;
  }
  
  .footer .collapse {
    margin: 0 auto; 
    text-align: left; 
    width: fit-content;
  }
  
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  
  }
  .row .second-2{
    margin-left: 64%;
  }
  .row .second-2 i{
    margin: 0 5px;
  }
.second > p{
    color: white;
  }
  i{
    font-size: 1em;
    color: white;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  /* điều chỉnh giao diện tablet */
  @media (max-width:1200px){
    #header > a{
      font-size: 35px;
    }
    .menu-list li a{
      font-size: 20px;
    }
  }
  /* Điều chỉnh giao diện header khi màn hình nhỏ hơn 780px */
  @media (max-width: 780px) {
    #header{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
    }
    .mobile {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
    }
    .mobile .icons{
      display: flex;
    }
    .mobile .icons #xmark{
      display: none;
    }
    .mobile div i{
      text-align: right;
    }
    #header > a {
      font-size: 25px;
      display: block;
      margin-bottom: 10px; 
    }
    #xmark{
      display: none;
      position: absolute;
      width: 30px;
      top: 0;
      font-size: 30px;
      cursor: pointer;
      z-index: 2;
    }
    #bar.active ~ #xmark,
    .menu-list.active #xmark{
      display: initial;
    }
    .menu-list li{
      display: none;
      width: 100%;
    }
    .menu-list.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 42px;
      width: 250px;
      right: 0;
      z-index: 1;
    }
    .menu-list.active li:nth-child(n+1):nth-child(-n+5){
      position: relative;
      display: block;
      width: 250px;
      text-align: right;
      top: 0;
      right: 0;
      background-color: black;
      border: 1px solid white;
    }
    .menu-list li:nth-last-child(-n+2){
      display: none;
    }
    .menu-list.active li:nth-child(n+1):nth-child(-n+5) {
      text-align: center;
      font-size: 15px;
      padding: 10px;
      border-bottom: 1px solid #ccc; 
    }
    /* Thêm style cho từng mục trong dropdown menu */
    .menu-list.active li:nth-child(n+1):nth-child(-n+5) a {
      color:palegoldenrod; 
      text-decoration: none;
      &:hover {
        font-size: 20px;
        color: #fff;
      }
    }
  
    #bar.active ~ .menu-list li:nth-child(n+1):nth-child(-n+5) {
      display: flex;
    }
    /* CSS cho biểu tượng thanh bar */
    #bar {
      cursor: pointer;
    } 
  }
    /* Điều chỉnh giao diện banner khi màn hình nhỏ hơn 780px */
  @media (max-width: 780px) {
    .slide-banner {
      height: 250px;
    }
    
    .menu label {
      width: 10px;
      height: 10px;
      margin: 0 .1em 1em;
    }
    
    .banner img {
      height: 250px;
    }
  }
   /* Điều chỉnh giao diện footer khi màn hình nhỏ hơn 780px */

  /* Ẩn .mobile và #bar khi màn hình lớn hơn 768px */
  @media (min-width: 781px) {
    .mobile {
      display: none;
    }
  }
  