@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}
*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
body{
    display: block;
    background-color: #f5f5f5;
}
/* ----------------navbar------------  */
#header{
    background-color: #ffff;
    width: 100%;
    /* height: 50px;
    display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    /* padding: 4px 20px; */
}
#header #logo{
  /* width: %; */
  color: white;
  font-size: 40px;
  text-decoration: none;
  background-color: #07503d;
  display:inline-block;
  padding: 20px 0;
  text-align: center;
}
/* #header a{
  color: white;
}
#header > a{
  width: 50%;
  font-size: 30px;
  text-decoration: none;
} */
#header i{
  color: black;
}
#header .menu-list{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
}
#header .menu-list li{
  display:inline-block;
  list-style-type: none;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 170px;
}
#header .menu-list li a{
  color: black;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0;
}
#header .menu-list li:nth-last-child(-n+2){
  width: 50px;
}
#header .menu-list li a:hover,
#header .menu-list li a.active {
  font-weight: bold;
}
#xmark{
  display: none;
}
#cart{
  position: relative;
  padding: 0;
}
#cart-amount{
  position: absolute;
  background-color: red;
  color: white;
  width: auto;
  height: 23px;
  line-height: 23px;
  padding: 0 2px;
  border-radius: 25px;
  top: 1px;
  right: 0;
}
.mobile .cart-amount {
  position: absolute;
  background-color: red;
  color: white;
  width: 10px;
  height: 18px;
  line-height: 18px;
  /* padding: 0 2px; */
  border-radius: 25px;
  top: 7px;
  padding: 0 0.05em;
  right: 100px;
}
/* #cart{
  position: relative;
}
#cart-amount{
  position: absolute;
  background-color: red;
  color: white;
  width: auto;
  min-width: 10px;
  padding: 2px;
  border-radius: 10px;
  top: -10px;
  right: 0;
  font-size: 13px;
}
#cart-icon .cart-amount {
  position: absolute;
  background-color: red;
  color: white;
  width: auto;
  min-width: 10px;
  height: 18px;
  line-height: 15px;
  border-radius: 25px;
  top: -10px;
  padding: 2px;
  right: -4px;
} */
.mobile{
  height: 50px;
}

/* --------------section-banner---------------- */
.banner{
  width: 100%;
}
.banner img{
  width: 100%;
}
/* -----------------section-body---------------- */
#body{
  max-width: 1000px;
  margin: 0 auto;
}
.favorite{
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.favorite p:first-child{
  font-size: 25px;
}
.favorite p:last-child{
  font-size: 15px;
  padding-top: 5px;
}
.list-fav {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-fav > div {
  flex: 0 1 24%;
  margin-bottom: 10px;
  text-align: center;
  max-height: 350px;
}

.list-fav img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover; 
}

.list-fav p {
  margin-top: 10px;
}
  /* sản phẩm mới */
.new-product{
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.new-product p:first-child{
  font-size: 25px;
}
.new-product p:nth-child(2){
  font-size: 15px;
  padding-top: 5px;
}
.new-product .see-more{
  width: 10%;
  height: 25px;
  font-size: 14px;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  margin-top: 5px;
}
.new-product a{
  text-decoration: none;
  color: white;
}
#body .n-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

#homeblog{
  max-width: 1100px;
}
#homeblog .blog-list-ul {
  margin-right: -10px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
#homeblog ul{
  list-style-type: disc;
}
#homeblog .blog-list-ul.col2-by-mon > li {
  width: calc(100%/4);
  transition: width 0.3s ease;
}
#homeblog .blog-list-ul > li {
  float: left;
  padding: 10px;
  min-height: 1px;
  display: block;
}
#homeblog .blog-card {
  background-color: white;
  height: 100%;
  border-radius: 2%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
#homeblog .blog-card .img img {
  display: block;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}
#homeblog img {
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 2%;
}
#homeblog .blog-card .info{
  padding: 10px;
  font-size: 14px;
}
#homeblog .blog-card .info .meta {
  font-size: 12px;
  color: #898989;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
}

#homeblog p {
  display:block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#homeblog a {
  text-decoration: none;
  color:black;
}
#homeblog a:hover {
  color:#088178 ;
}
#homeblog h4.title-blog a {
  font-size: 16px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  #homeblog .blog-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
  }
  #homeblog .info {
      width: 100%;
  }
  #homeblog .blog-list-ul.col2-by-mon > li {
      width: 50%;
      padding:0 5px 0;
  }
  #homeblog .blog-list-ul > li {
      min-height: 1px;
      display: block;
  }
  #homeblog {
      padding: 20px 20px;
  }
}
/* -------------footer----------------- */
#footer{
  width: 100%;
  padding-top: 1em;
  background-color: #07503d;
  padding-bottom: 1em;
}
#footer .row{
  display: flex;
  padding: 0.5em;
}
#footer .row .col{
   width: fit-content;
   flex-direction: row;
   justify-content: left;
}
#footer .addr,
#footer .contact,
#footer .instruct {
  color: white;
  padding: 0.5em;
}
#footer .addr a img{
  width: 15.625em;
}
#footer img, #footer i, #footer a, #footer ul{
  width: fit-content;
}

#footer ul li{
    list-style-type: none;
}

#footer .collapse {
  margin: 0 auto; 
  text-align: left; 
  width: fit-content;
}

#footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#footer i{
  font-size: 1em;
  color: white;
}
#footer a{
  text-decoration: none;
  color: white;
  font-size: 1em;
}
#footer .facebook img{
  border-radius: 30px;
  width: 300px;
}
/* điều chỉnh giao diện tablet */
@media (max-width:1200px){
  #header > a{
    font-size: 25px;
  }
  .menu-list li a{
    font-size: 13px;
  }
  .favorite p:first-child{
    font-size: 20px;
  }
  .favorite p:last-child{
    font-size: 13px;
  }
  .new-product p:first-child{
    font-size: 20px;
  }
  .new-product p:nth-child(2){
    font-size: 13px;
  }
  .advantage p{
    font-size: 18px;
  }
  .advantage i{
    font-size: 25px;
  }
}
/* Điều chỉnh giao diện header khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  #header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .mobile .icons{
    display: flex;
  }
  .mobile .icons #xmark{
    display: none;
  }
  #cart-icon{
    position: relative;
  }
  
  .mobile div{
    text-align: right;
  }
  #cart-icon a{
    margin-right: 7px;
  }
 
  #header > a {
    font-size: 20px;
    display: block;
    margin-bottom: 10px; 
  }
  #xmark{
    display: none;
    position: absolute;
    width: 20px;
    top: 30;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }
  #bar.active ~ #xmark,
  .menu-list.active #xmark{
    display: initial;
  }
  .menu-list li{
    display: none;
    width: 100%;
  }
  .menu-list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    width: 200px;
    right: 0;
    z-index: 1;
  }
  .menu-list.active li:nth-child(n+1):nth-child(-n+5){
    position: relative;
    display: block;
    width: 200px;
    text-align: right;
    top: 0;
    right: 0;
    background-color: black;
    border: 1px solid white;
  }
  .menu-list li:nth-last-child(-n+2){
    display: none;
  }
  .menu-list.active li:nth-child(n+1):nth-child(-n+5) {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
    margin: 0;
  }
  /* Thêm style cho từng mục trong dropdown menu */
  .menu-list.active li:nth-child(n+1):nth-child(-n+5) a {
    text-decoration: none;
    &:hover {
      font-size: 17px;
      color: #fff;
    }
  }

  #bar.active ~ .menu-list li:nth-child(n+1):nth-child(-n+5) {
    display: flex;
  }
  /* CSS cho biểu tượng thanh bar */
  #bar {
    cursor: pointer;
  } 
}
  /* Điều chỉnh giao diện banner khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  .slide-banner {
    height: 250px;
  }
  
  .menu label {
    width: 10px;
    height: 10px;
    margin: 0 .1em 1em;
  }
  
  .banner img {
    height: 250px;
  }
}

/* Điều chỉnh body khi màn hình nhỏ hơn 780px */
@media (max-width: 780px){
  .favorite{
    padding: 15px 0;
  }
  .favorite p:first-child{
    font-size: 18px;
  }
  .favorite p:last-child{
    font-size: 10px;
    padding-top: 2px;
  }
  .list-fav p {
    margin-top: 5px;
    font-size: 12px;
  }
    /* sản phẩm mới */
  .new-product{
    padding: 25px 0;
  }
  .new-product p:first-child{
    font-size: 18px;
  }
  .new-product p:nth-child(2){
    font-size: 10px;
    padding-top: 2px;
  }
  button.prev,button.next {
    height:30px;
    width:30px;
  }
  .perfume:hover{
    box-shadow: 2px 2px 7px rgb(182, 181, 181);
  }
  .wrap_image:hover::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
   .perfume_image{
    width:50px;
    height:70px;
  } 
  .perfume_name{
    margin-top: 2px;
    font-size: 8px;
    height:20px;
    text-transform: uppercase;
    padding:0 0 3px 0;
    text-align: center;
  }
  .perfume_brand{
    margin: 5px 0;
    font-size: 8px; 
  }
  .perfume_price{
    height:12px;
    font-size: 10px ;
  }
  .old_price{
    line-height: 12px;
    font-size: 10px;
  }
  .old_price p{
    font-size: 10px;
    margin-left: 40px;
  }
  .detailProduct{
    width:100px;
    height:30px;
  }
  .perfume {
    flex: 0 1 calc(25% - 5px);
  }
  /* lợi ích */
  .advantage > div{
    height: 100px;
  }
  .advantage p {
    font-size: 15px;
    padding-bottom: 5px;
  }
  
  .advantage i {
    font-size: 20px;
  }
}
 /* Điều chỉnh giao diện footer khi màn hình nhỏ hơn 780px */
@media (max-width: 780px) {
  #footer .row {
    flex-direction: column;
    padding: 0.3em;
  }

  #footer .col {
    width: 100%;
  }

  #footer .facebook img {
    width: 200px;
  }
  #footer .map-address{
  display: none;
  }
  #footer .addr,
  #footer .contact,
  #footer .instruct {
    font-size: 1em;
  }
  #footer .connect{
    padding-left: 0;
  }
  #footer .addr a img{
    width: 200px;
  }
  #footer i{
    font-size: 1em;
  }
  #footer a{
    font-size: 1em;
  }
}
/* Ẩn .mobile và #bar khi màn hình lớn hơn 768px */
@media (min-width: 781px) {
  .mobile {
    display: none;
  }
}
