<footer class="footer">
        <div class="footer collapse">
            <div class="container">
                <div class="row first">
                    <div class="col addr">
                        <a href="/" title="BLANC">
                            <img src="//bizweb.dktcdn.net/100/335/381/themes/762562/assets/logo.png?1698889922557" alt="BLANC">
                        </a>
                        <ul class="contact">
                            <li>
                                <p class="summary_footer">
                                    <strong>HỘ KINH DOANH ĐỒNG HỒ</strong> 
                                    <br>  GPKD số: 58A8011955 
                                    <br> Ngày cấp: 01/10/2021
                                    <br> Cấp bởi: UBND TP Trà Vinh									
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="txt_content_child">
                                    
                                    77 Điện Biên Phủ, P.6, Trà Vinh
                                    
                                </span>
                            </li>
                            <li class="sdt">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                
                                <a href="tel:0966434787">0966434787</a>
                                    
                            </li>
                            <li class="sdt">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                
                                <a href="mailto:support@blanc.com.vn"> support@blanc.com.vn</a>
                                    
                            </li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <h4 class="title-menu">
                            <a href="">
                                Hỗ trợ khách hàng 
                            </a>
                        </h4>
                        <div>
                            <ul class="list-menu">    
                                <li class="li_menu">
                                    <i class="fa fa-angle-right"></i>
                                    <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                                </li>
                                
                                <li class="li_menu">
                                    <i class="fa fa-angle-right"></i>
                                    <a href="/chinh-sach-van-chuyen">Chính sách vận chuyển</a>
                                </li>
                                
                                <li class="li_menu">
                                    <i class="fa fa-angle-right"></i>
                                    <a href="/chinh-sach-doi-tra">Chính sách đổi trả</a>
                                </li>
                                
                                <li class="li_menu">
                                    <i class="fa fa-angle-right"></i>
                                    <a href="/chinh-sach">Hình thức thanh toán</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col instruct">
                        <div class="widget-ft">
                            <h4 class="title-menu">
                                <a href="">
                                    Hướng dẫn 
                                </a>
                            </h4>
                            <div class="collapse time_work" id="collapseListMenu03">
                                <ul class="list-menu">          
                                    <li class="li_menu">
                                        <i class="fa fa-angle-right"></i>
                                        <a href="/huong-dan">Hướng dẫn mua hàng</a>
                                    </li>
                                    
                                    <li class="li_menu">
                                        <i class="fa fa-angle-right"></i>
                                        <a href="/huong-dan">Hướng dẫn thanh toán</a>
                                    </li>
                                    
                                    <li class="li_menu">
                                        <i class="fa fa-angle-right"></i>
                                        <a href="/huong-dan">Hướng dẫn giao nhận</a>
                                    </li>
                                    
                                    <li class="li_menu">
                                        <i class="fa fa-angle-right"></i>
                                        <a href="/dieu-khoan">Điều khoản dịch vụ</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col connect">
                        <div class="widget-ft last-child">
                            <h4 class="title-menu title-db">
                                <a href="">
                                    Kết nối trên Facebook 
                                </a>
                            </h4>
    
                            <div class="collapse" id="collapseListMenu04">
                                <div class="facebook">
                                    <div class="fb-page fb_iframe_widget" 
                                         data-href="https://www.facebook.com/blancperfumevn" 
                                         data-tabs="timeline" 
                                         data-height="150" 
                                         data-small-header="true" 
                                         data-adapt-container-width="true" 
                                         data-hide-cover="false" 
                                         data-show-facepile="true" 
                                         fb-xfbml-state="rendered" 

                                         fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=360&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fblancperfumevn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline">
                                         <span style="vertical-align: bottom; width: 340px; height: 150px;">
                                            <iframe name="f702884020ecb" 
                                                    width="1000px" 
                                                    height="150px" 
                                                    data-testid="fb:page Facebook Social Plugin" 
                                                    title="fb:page Facebook Social Plugin" 
                                                    frameborder="0" 
                                                    allowtransparency="true" 
                                                    allowfullscreen="true" 
                                                    scrolling="no" 
                                                    allow="encrypted-media" 
                                                    src="https://www.facebook.com/v4.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3f01b64dc43008%26domain%3Dblanc.com.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fblanc.com.vn%252Ff305134fc945cfc%26relation%3Dparent.parent&amp;container_width=360&amp;height=150&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fblancperfumevn&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=timeline" 
                                                    style="border: none; visibility: visible; width: 340px; height: 150px;" class="">
                                            </iframe>
                                        </span>
                                    </div>
                                </div> 
                                <div class="map-address" style="margin-top: 20px;">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7860.104286041979!2d106.33716782134685!3d9.929615621597657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2328f050644249ea!2zQ2hp4bq_dCBOxrDhu5tjIEhvYQ!5e0!3m2!1svi!2s!4v1587605586072!5m2!1svi!2s" 
                                        width="340" 
                                        height="150" 
                                        frameborder="0" 
                                        style="border:0;" 
                                        allowfullscreen="" 
                                        aria-hidden="false" 
                                        tabindex="0">
                                    </iframe>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom"></div>
            </div>
            <div class="row second">
                <p style="width: fit-content;">© 2022 Something. All rights reserved.</p>                                
                <ul class="row second-2">
                    <li>
                        <a class="fb" href="https://www.facebook.com/blancperfumevn" title="Theo dõi Facebook BLANC"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a class="mes" href="sms:0966434787" title="Thực hiện nhắn tin tới BLANC"><i class="fa fa-commenting-o"></i></a> 
                    </li>
                    <li>
                        <a class="phones" href="tel:0966434787" title="Gọi điện cho BLANC"><i class="fa fa-phone"></i></a>
                    </li>
                </ul>
            </div>
        </div>   
    </footer>
</body>
</html>