<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/home_css.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <section id="header">
        <a href="./home.html">Infinite Horizons</a>
                <ul class="menu-list">
                    <li><a href="home.html">Trang chủ</a></li>
                    <li><a href="shop.html">Cửa hàng</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="./login.html"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li id="cart">
                        <a href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <div id="cart-amount" class="cart-amount">0</div>
                    </li>
                </ul>
            <div class="mobile">
                <div class="icons" id="cart-icon">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                    <div id="cart-amount-mobile" class="cart-amount">0</div>
                </div>
                <div class="icons" id="user-icon">
                    <a href="#">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>
                <div class="icons" id="bar-icon">
                    <i id="bar" class="fa-solid fa-bars"></i> 
                </div>
                    <i id="xmark" class="fa-solid fa-xmark"></i> 
            </div>
    </section>